<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="FlowScroll" Language="1033" Version="0.1.0.0" Manufacturer="FlowScroll Team" UpgradeCode="5d0e68ce-fac6-4b8c-94f5-85a2e35fc843">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="FlowScroll" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="FlowScroll" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="FlowScroll" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="5d0e68ce-fac6-4b8c-94f5-85a2e35fc844">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="FlowScroll" 
                          Description="Advanced Auto Scroller"
                          Target="[INSTALLFOLDER]FlowScroll.exe"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="icon.ico"/>
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\FlowScroll" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <Icon Id="icon.ico" SourceFile="assets\icon.ico"/>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="5d0e68ce-fac6-4b8c-94f5-85a2e35fc845">
                <File Id="FlowScrollEXE" Source="release\FlowScroll.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>